/*reset css*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*caja central*/
#container {
  width: 100%;
  background: linear-gradient(#fff7c2, #180765);
}

.centralContainer {
  display: flex;
  flex-flow: column;
  width: 85%;
  margin: 20px auto;
  background: linear-gradient(#5886a3, #e6a34b);
  height: max-content;
  min-width: 240px;

}

.tittleForm {
  display: block;
  width: 100%;
  font-size: 40px;
  font-style: oblique;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 20px auto;
  text-align: center;
  color: #fff;

}


.formExam {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 20px 10px;
}

.formExam label {
  color: #fff;
  font-size: 20px;
  margin: 10px auto;

}

.tittleRadio {
  color: #fff;
  font-size: 20px;
  margin: 30px auto 0 auto;
}

.formExam input {
  width: 70%;
  padding: 10px;
  font-size: 20px;
  margin: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.formExam input:hover {
  color: #fff;
  background-color: #0f2634;
  transform: scale(1.1);
  transition: 0.5s;
}

.formExam input:hover::placeholder {
  color: rgb(238, 220, 166);
  transition: color 0.3s;
}

.formExam .radio {
  display: flex;
  flex-flow: column;
  width: 50%;
  margin: 10px auto;

}

.formExam .radio label {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  width: 40%;
  text-align: center;
}

.radioButtons {
  width: 15%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

#buttonStudent {
  width: 40%;
  background: #0f2634;
  color: #fff;
  margin: 10px auto;
  border-radius: 10px;
  font-size: 20px;
  height: 50px;
}

#buttonStudent:hover {
  transform: scale(1.1);
  color: #ac8e66;
  transition: 0.3s;
}

.textInputCourse {
  visibility: hidden;
  margin: 0 auto 15px auto;
  font-size: 25px;
  color: #2c1b05;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.inputCourse {
  visibility: hidden;
  width: 30%;
  margin: 10px auto;
  padding: 15px 10px;
  font-size: 20px;
  font-family: cursive;
}

.inputCourse:hover {
  color: #fff;
  background-color: #0f2634;
  transform: scale(1.1);
  transition: 0.5s;
}

.inputCourse:hover::placeholder {
  color: rgb(238, 220, 166);
  transition: color 0.3s;
}




/*seccion media queries */
@media screen and (max-width: 1280px) {
  .radioButtons {
    width: 100%;
  }

  .radioButtons label input {
    width: fit-content;
  }

  .tittleRadio {
    width: fit-content;
    text-align: center;
    margin: 40px auto;

  }

  @media screen and (max-width: 800px) {

    .radioButtons label,
    .tittleRadio,
    .formExam input {
      font-size: 15px;
    }

    .tittleRadio {
      margin: 30px auto 20px auto;
    }

    #buttonStudent {
      height: 40px;
      font-size: 15px;
    }

    .tittleForm {
      font-size: 30px;
    }


  }


  @media screen and (max-width: 470px) {}


}